/* UI */

body {
  height: 100%;
}

.container {
  padding: 0;
}

.sidebar {
	background-color: rgba(0,0,0,0.8);
	height: 100%;
  color: white;
}

.sidebar-label {
	color: white;
}

svg {
  width: 100%;
  height: 100%;
}