/* UI */

html, body {
            padding: 0;
        }

        .node {
          stroke: #fff;
          stroke-width: 1.5px;
            cursor: move;
        }

        .link {
          stroke-width: 3px;
          stroke-opacity: 1;
        }

        .label {
            fill: black;
            font-family: Verdana;
            font-size: 12px;
            text-anchor: middle;
            cursor: move;
        }

        .guideline {
            stroke: orangered;
            stroke-width: 4px;
        }

body {
  height: 100%;
}


.container {
  width: 100%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.sidebar {
	background-color: rgba(0,0,0,0.8);
	height: 100%;
  color: white;
}

.sidebar-label {
	color: white;
}

svg {
  width: 100%;
  height: 100%;
}

.exampleBtn {
  padding:2px 0 2px 6px;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}

.dbCol{
  border-right: 1px solid rgba(0,0,0,0.1);
  position: relative;
}

.overlapBtn, .tripleBtn{
  position: absolute;
  bottom: 10px;
  background-color: rgba(0,0,0,0.4);
  color: white;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.overlapBtn {right: 10px;}
.tripleBtn {right: 150px;}

.slider {
  position: absolute;
  bottom: 25px;
  left: 50px;
}

.slider-selection {
  background:  #339bb7 !important;
}

.slider-track-low, .slider-track-high{
  background-color: #BABABA !important;
}

.tripleBox {
  position: absolute;
  bottom: 70;
  width: 100%;
  padding: 10px 20px;
  background: rgba(0,0,0,0.8);
  color: white;
  display: none;
}

/*.linkDistSlider{
  position: absolute;
  bottom: 10px;
  left: 10px;
}*/

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

text, .label{
    cursor: pointer;
}